{include file=$links}

<script type="text/javascript" src="{$HOST}js/modulos/reportes.js"></script>

<fieldset class="ui-widget ui-widget-content" style="margin-top: 5px;"> 
    <legend class="ui-widget-header ui-corner-all">Filtro</legend>            
    <table>
        <tr>
            <td>
                <label>Desde</label>
            </td>
            <td>
                <input type="text" id="desde" name="desde" value="" style="width: 100px;"/>
            </td>                    
            <td>
                <label>Hasta</label>
            </td>
            <td>
                <input type="text" id="hasta" name="hasta" value="" style="width: 100px;"/>
            </td>
            <td>
                <label>Tipo Averia</label>
            </td>
            <td>
                <select name="id_tipoaveria" id="id_tipoaveria" style="width: 200px;" title="Seleccione Tipo Averia">
                    <option value="0">TODOS</option>
                    {foreach from=$tipo_averia item="tiav"}
                        <option value="{$tiav->id_tipoaveria}" >{$tiav->descripcion}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Personal</label>
            </td>
            <td>
                <select name="id_personal" id="id_personal" style="width: 200px;" title="Seleccione Personal">
                    <option value="0">TODOS</option>
                    {foreach from=$personal item="tiav"}
                        <option value="{$tiav->id_personal}" >{$tiav->nombres} {$tiav->apellido_paterno} {$tiav->apellido_materno}</option>
                    {/foreach}
                </select>
            </td>       
            <td>
                <label>Estado</label>
            </td>
            <td>
                <select name="estado" id="estado" style="width: 200px;" title="Seleccione estado">
                    <option value="-">TODOS</option>
                    <option value="P">PENDIENTE</option>
                    <option value="O">EN PROCESO</option>
                    <option value="A">ATENDIDO</option>
                </select>
            </td>  
            <td>
                <button id="cargar2">Mostrar</button>
            </td>
        </tr>
    </table>
</fieldset> 
<br/>
<iframe src="javascript:;" id="reporte" style="width: 99%;height: 350px;border: #000000 solid 1px;" ></iframe>